<div class="card mb-3 mt-3">
  <div class="row" style="height: 120px">
    <div class="col-md-2">
      <img
        style="height: 120px; width: 90px"
        src="/static/images/<%= image %>"
        alt=""
        class="card-img"
      />
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <div class="card-title">
          <h5>
            <a href="/books/<%=bookId%>"> <%= name %> </a>
          </h5>
          <p class="card-text"><%- description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
