<div class="list-group">

  <% categories.forEach(function(category){ %>
  <a href="/books/category/<%= category.url %>" class="a list-group-item list-group-item-action
    <%= selectedCategory == category.url ? "active" : "" %>
    ">
    <%= category.categoryName %></a
  >
  <% }) %>
</div>
